---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-8 text-center align-top text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-sm"
>
	<div class="me-0 sm:me-4">
		&copy; {year} Krypto Hashers Community. All rights open-sourced.
	</div>
	<div class="flex items-center gap-1 font-medium">
		Built with <span class="text-red-500">❤️</span> by the KHC community
	</div>
</footer>
